h1 {
    background-color: #0B23A04A;
    border: 10px #abc solid;
    color: #F81D3E;
    text-align: center;
}

#input {
    margin: 20px;
    background-color: #F8F587;
    padding-left: 50px;
    text-align: left;
    font-size: 26px;
    font-weight: 600;
    height: 50px;
    border: 2px solid blue;
    line-height: 50px;
}

#output {
    margin: 20px;
    background-color: #80f654;
    padding-left: 50px;
    text-align: left;
    font-size: 26px;
    color:red;
    font-weight: 100;
    border: 2px solid orange;
}

span {
    display: inline-block;
    vertical-align: middle;
}

p {font-size: 18px;
  height: 100px;
  border: 2px solid green;
}
form {
  margin-left:20px;
  padding: 30px;
  padding-left: 50px;
  height: 80px;
  border: 2px solid pink;
  text-align: left;
}
.inputbox {
    width: 1500px;
    height: 50px;
    padding-left: 20px;
    font-size: 22px;
    font: 'verdana';
    vertical-align: middle;
}
