body {
  font: 'verdana';
  color: #2f454e;
  font-size: 22px;
  font-weight: 100;
  width: 70%;
  margin-left:auto;
  margin-right:auto;
}

#div0 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f5f7;
    background-image: linear-gradient( 92.7deg,  rgba(245,212,212,1) 8.5%, rgba(252,251,224,1) 90.2% );
    width: 100%;
    height: 10%;
    font: inherit;
    font-size: 40px;
    font-weight: 600;
    color: #204060;
    margin: 0;
    border: 1px solid #d0c6cd;
    border-bottom: 3px solid #b7b5b7;
}

#main_div {
  width: 100%;
  height: 100%;
  margin:0;
  border-left: 1px solid #d0c6cd;
  border-right: 1px solid #d0c6cd;
  position:relative;
}

#main_div::after {
            content: "";
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            background-image: url("../images/img1.jpg");
            background-size: 200%;
            background-repeat:no-repeat;
            background color: red;
            opacity: 0.12;
            z-index: -1;
          }

#input_qu {
    display: block;
    margin-top: 20px;  margin-bottom: 20px;
    margin-left: 100px; margin-right: 100px;
    background-color: #e7e8f2;
    background-image: radial-gradient( circle farthest-corner at 50.3% 44.5%,  #dee6ed 50%,  #f7e6ff 100.2% );
    padding-left: 0px;
    text-align: left;
    border: 2px solid #ffa64d;
}

form {
  display: block;
  margin: 20px;
  border: None;
  font-size: 22px;
  font-weight: 100;
}

.inputbox {
    width: 90%;
    padding-left: 20px;
    margin-left: 40px;
    height: 40px;
    text-align: left;
    vertical-align: middle;
    border: 3px solid #004466;
    font: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}
.radiob {
    display: inline;
    margin-left: 40px;
    text-align: left;
}
#block_radio{
    display: inline-block;
    vertical-align: middle;
    border: None;
    margin: 0px;
}

#button_go {
  display: inline-block;
  width: 60px;
  vertical-align: middle;
  margin: 0px;
  float:right;
}
#divimg {
  vertical-align: middle;
  display: inline-block;
  padding: 0px;
  margin: 0px;

  margin-left: 20%;
}
#CLICK {
  display: inline-block;
  vertical-align: middle;
  line-height: 60px;
  margin-right:15px;
}

.question_for_user {
  font-size: 26px;
  font-weight: 500;
  border: None;
  margin-top:40px;
}

#qu1 {margin-top:10px;
}
#qu2 {margin-top:40px;
}
#qu3 {margin-top:20px;
}

.res {
  margin-left: 10px;
  color: #cc0052;
  font-weight: 400;
}
#res1{
  word-spacing: 1.25em;
}

div {
    display: block;
    margin:10px;
    font: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    border: None;
}

#output {
    display: block;
    padding-left: 40px;
    font-size: 22px;
}


p {
  margin-bottom: 5px;
  margin-top: 0px;}
