<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>Tag generation tool _ Open Classroom _ Machine Learning Course _ Project 5</title>
    <link rel="stylesheet" href="static/css/main.css?v=4.98099" type="text/css">
</head>

<body>
  <h1>Welcome to the tag generation tool</h1>
  <br>
  <br>
  <br>
  <br>
  <div id='input'>Please input here your question (limited to {{len_qu}} characters):</div>
  <div>
      <form action="/" method = "POST">
          <input type = "text" name = "QU"  class="inputbox" maxlength="{{len_qu}}"/>
          <input type = "submit" value = "GO"/>
      </form>
  </div>

<!-- {% if output_data|length() > 0 %}-->
 <div id='output'> {{output_data}}
      <!-- <span>{{output_data}}</span> -->
 </div>
<!-- {% endif %} -->
</body>
